<form name="editProfileForm" class="forms">
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <label>Profile photo:</label><br/>
                    <img class="img-thumbnail profile-picture-preview" id="profileImagePreview" ng-src="{{data.profileImageData}}" alt="Select profile photo."><br/>
                <p class="label label-info">Allowed format: .jpg, Limit: 128kb</p><br/><br/>
                <input type="file" id="profileImageSelector" ng-show="false"/>
                <button class="btn btn-default" ng-click="getProfileImage()">Upload</button>
            </fieldset>
        </div>

        <div class="col-md-7">
            <fieldset>
                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.name.$invalid && !editProfileForm.name.$pristine }">
                    <label>Name:</label>
                    <input type="text" required name="name" class="form-control" ng-model="data.name">

                    <p ng-show="editProfileForm.name.$invalid && !editProfileForm.name.$pristine" class="help-block">
                        Name is missing.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.email.$invalid && !editProfileForm.email.$pristine }">
                    <label>Email:</label>
                    <input type="email" name="email" class="form-control" required ng-model="data.email">

                    <p ng-show="editProfileForm.email.$invalid && !editProfileForm.email.$pristine" class="help-block">
                        Invalid and/or missing email.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.gender.$invalid && !editProfileForm.gender.$pristine }">
                    <label>Gender:</label>

                    <p>
                        <input type="radio" name="gender" ng-model="data.gender" value="1"> Male
                        <input type="radio" name="gender" ng-model="data.gender" value="2"> Female
                        <input type="radio" name="gender" ng-model="data.gender" value="3"> Other
                    </p>
                </div>

                <label>Cover photo:</label><br/>
                    <img class="img-thumbnail cover-picture-preview" id="coverImagePreview" ng-src="{{data.coverImageData}}" alt="Select cover photo."><br/>
                    <input type="file" id="coverImageSelector" ng-show="false"/>
                <p class="label label-info">Limit: 1024kb</p><br/><br/>
                <button class="btn btn-default" ng-click="getCoverImage()">Upload</button>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 pull-right">
            <input type="submit" class="btn btn-primary" value="Save Changes"
                   ng-click="editProfile(data, editProfileForm)"/>
            <button class="btn btn-default" ng-click="cancelSave()">Cancel</button>
        </div>
    </div>
</form>