<aside class="friends-aside">
    <table class="table friends-table">
        <thead>
        <tr>
            <th colspan="2">Total members: {{members.length}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img ng-src="{{owner.profileImageData || 'img/noavatar.jpg'}}" class="img-rounded img-thumbnail friend-preview-img"/>
            </td>
            <td>
                <a href="#/users/{{owner.userName}}">{{owner.name}} <strong>(Owner)</strong></a>
            </td>
        </tr>
        <tr ng-repeat="member in members | limitTo: 10">
            <td>
                <img ng-src="{{member.profileImageData || 'img/noavatar.jpg'}}" class="img-rounded img-thumbnail friend-preview-img"/>
            </td>
            <td>
                <a href="#/users/{{member.userName}}">{{member.name}} <span>(Member)</span></a>
            </td>
        </tr>
        </tbody>
    </table>
</aside>