<aside class="friends-aside">
    <table class="table friends-table">
        <thead>
        <tr>
            <th colspan="2"><a href="">Participation in groups: {{groupsCount}}</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups | limitTo: 10">
            <td>
                <img ng-src="{{group.wallPicture || 'img/noavatar.jpg'}}" class="img-rounded img-thumbnail friend-preview-img"/>
            </td>
            <td>
                <a href="#/groups/{{group.id}}">{{group.name}} <span ng-show="group.isOwner">(Owner)</span><span ng-show="group.isMember">(Member)</span></a>
            </td>
        </tr>
        </tbody>
    </table>
</aside>