<form class="forms" name="changePasswordForm">
    <div class="form-group"
         ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine }">
        <label>Old password:</label>
        <input type="password" required name="oldPassword" class="form-control" ng-model="user.oldPassword">

        <p ng-show="changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine"
           class="help-block">Old password is missing.</p>

    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine }">
        <label>New password:</label>
        <input type="password" required ng-pattern="passwordPattern" name="newPassword" class="form-control" ng-model="user.newPassword">

        <p ng-show="changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine"
           class="help-block">The new password has to be min 6 symbols long.</p>

    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine }">
        <label>Confirm new password:</label>
        <input type="password" required ng-pattern="passwordPattern" name="confirmPassword" class="form-control" ng-model="user.confirmPassword">

        <p ng-show="changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine"
           class="help-block">Please, confirm the password.</p>
    </div>

    <input type="submit" class="btn btn-primary" value="Save Changes"
           ng-click="changePassword(user, changePasswordForm)"/>
    <button class="btn btn-default" ng-click="cancelSave()">Cancel</button>
</form>