<!--Find people table element-->
<table class="table table-striped">
    <thead>
    <tr>
        <td colspan="2">Results: 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="img/straho.jpg" class="img-rounded img-thumbnail img-thumbnail-small"/>
        </td>
        <td>
            <a href="#/users/:username"> The friend's name will be here</a>
        </td>
    </tr>
    </tbody>
</table>
<!--End of Find people table element-->