<div class="container-fluid">
    <div class="row">
        <user-header></user-header>
    </div>

    <div class="row page-title">
        <div class="col-md-12">
            <h1>{{otherUserName}} - Friends ({{friendsCount}} total)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchFriends" placeholder="Search..." ng-model="keyword">
                </div>
            </form>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="friend in friends | filter: keyword">
            <all-friends></all-friends>
        </div>
    </div>
</div>